.container{
    display: flex;
    flex-direction: column;
}

.logo{
    height: 6rem;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
