.sbContainer {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding-top: 1rem;
    border-radius: 1rem;
}